.tasks{
  margin-top: 30px;
}

.tasks li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  padding-left: 5px;
  font-size: 20px;
  transition: all 600ms;
}

.tasks li:hover{
  background-color: #1a92ad;
}

.tasks li .edit{
  margin-right: 15px;
  color: #1a92ad;
}

.tasks li .delete{
  margin-right: 15px;
  color: #f04c64;
}

.tasks li:hover .edit,
.tasks li:hover .delete{
  color: black;
}

.tasks li .edit,
.tasks li .delete{
  cursor: pointer;
  transition: all 600ms;
}


.tasks li span{
  display: flex;
  align-items: center;
}
